{% extends 'base.html' %}
{% block body %}
    <div class="card">
      <h1>Sign Up Form</h1>
      {% block body2 %}
      {% endblock %}
      <form action="signupSuccess" method="post">
        <input type="text" name="username" required maxlength="50"
        placeholder="USERNAME">
        <input type="email" name="email" required maxlength="50"
        placeholder ="EMAIL">
        <input type = "password" name="password1" required maxlength="50"
        placeholder="PASSWORD">
        <input type = "password" name="password2" required maxlength="50"
        placeholder="CONFIRM PASSWORD">
        <input class="enter" type="submit" value="Sign Up">
      </form>
    </div>
{% endblock %}
